# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Rider and VS Code
.idea/
.vscode/
*.sln
*.csproj
*.unityproj
*.user
*.userprefs

# Visual Studio-specific
.vs/
.vsconfig

# Crash & debug
*.pidb
*.suo
*.tmp
*.bak
*.old
*.stacktrace
*.log
*.diff
*.patch

# OS / system
.DS_Store
Thumbs.db

# Gradle / Android Studio
.gradle/
*.apk
*.aar
*.keystore

# Unity Cloud / Collaborate
.collabignore